.container {
  padding: 15px 15px 15px 60px;
  width: 450px;
  cursor: pointer;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  cursor: pointer;
  height: 0px;
  width: 0px;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  margin: 12.5px;

  top: 0;
  left: 0;
  height: 28px;
  width: 28px;
  border: 1px solid rgb(218, 218, 218);
  border-radius: 50%;
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #ffffff;
}

/* Create the indicator (the dcheckmark - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (checkmark) when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 10px;
  top: 4px;
  width: 6px;
  height: 16x;
  border: solid rgb(79, 179, 116);
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.todo {
  padding: 15px 20px 15px 0px;
}

.deleteBtn {
  visibility: hidden;
  outline: none;
  cursor: pointer;
  float: right;
  background-color: transparent;
  border: none;
  font-weight: 600;
  font-size: 20px;
  color: #cc9a9a;
  padding: 0px;
}

.deleteBtn:after {
  content: "×";
}
